/* ESERCIZIO 1 */
.ex-1-square{
    transition: background-color 2s;
}
.ex-1-square:hover{
    background-color: red;
}

/* ESERCIZIO 2 */
.ex-2-square {
    transition: padding-right 2s ease;
}
.ex-2-square:active {
    padding-right: 100% ;
}

/* ESERCIZIO 3 */
.ex-3-square {
    transition: border-radius .5s ease-in .3s;    
}
.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4 */
.ex-4-square {
    transition: background-color 1s;
}
.ex-4-square:hover{
    background-color: transparent;
}

/* ESERCIZIO 5 */
.ex-5-square {
    transition: transform 1s ;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active{
    transform: scale(.5);
}

/* ESERCIZIO 6 */
.ex-6-img {
    transition: filter ;
}
.ex-6-img:hover{
    filter: grayscale(1);
}

/* ESERCIZIO 7 */
.ex-7-img{
    transition:  filter 2s ;
}
.ex-7-img:hover{
    filter: sepia(.7) grayscale(.1);
}

/* ESERCIZIO 8 */
.ex-8-img{
    transition: filter 2s, border-radius 2s;
}
.ex-8-img:hover{
    filter: sepia(.7) grayscale(.2);
    border-radius: 20px;
}

/* ESERCIZIO 9 */
.ex-9-img {
    transition: border-radius 2s, transform 2s, filter 2s;
}
.ex-9-img:hover{
    border-radius: 20px;
    transform: scale(1.5);
    filter: grayscale(.6) sepia(.6);
}

/* ESERCIZIO 10 */
.ex-10-icon {
    animation: rotation 1s infinite linear;
}
@keyframes rotation{
    from{
        transform: rotate(359deg);
    }

    to{
        transform: rotate(0deg);
    }
}

/* ESERCIZIO 11 */
.ex-11-icon:hover{
    animation: rotation-reverse 2s 1 linear;
}
@keyframes rotation-reverse{
    0%{
        transform: rotate(0deg);
    }

    90%{
        transform: rotate(300deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

/* ESERCIZIO 12 */
.ex-12-button:hover 
.ex-12-top-white{
    animation: border-rotation-half-top 2s 1 linear ;
}
.ex-12-button:hover 
.ex-12-bottom-white{
    animation: border-rotation-half-bottom 2s 1 linear ;
}

@keyframes border-rotation-half-top{
    0%{
        left : 10%;
    }
    50%{
        left: 70%;
    }
    100%{
        left: 10%;
    }
}
@keyframes border-rotation-half-bottom{
    0%{
        right : 20%;
    }
    50%{
        right: 70%;
    }
    100%{
        right: 20%;
    }
}

/* ESERCIZIO 13 */
.ex-13-button:hover
.ex-13-top-white{
    animation: border-rotation-top 2s 1 linear;
}
.ex-13-button:hover
.ex-13-bottom-white{
    animation: border-rotation-bottom 2s 1 linear;
}
@keyframes border-rotation-top{
    0%{
        left : 10%;
        top: -10px;
    }
    25%{
        left: 80%;
        top: -10px;
    }
    40%{
        left: 80%;
        top: 100%;
    }
    75%{
        left: -10px;
        top: 100%;
    }
    90%{
        left: -10px;
        top: -10px;
    }
    100%{
        left: 10%;
        top: -10px;
    }
}

@keyframes border-rotation-bottom{
    0%{
        right : 20%;
        bottom: -10px;
    }
    25%{
        right: 80%;
        bottom: -10px;
    }
    40%{
        right: 80%;
        bottom: 100%;
    }
    75%{
        right: -10px;
        bottom: 100%;
    }
    90%{
        right: -10px;
        bottom: -10px;
    }
    100%{
        right: 20%;
        bottom: -10px;
    }
}